@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.cosplay_image {
  width: 700px;
  height: 700px;
  object-fit: contain;
  text-align : center;
}

.link {
  text-decoration: none;
  color: #38b48b ;
}