<div class="row">
  <div class="col-sm-3">Profile image</div>
  <div class="col-sm-3">Name</div>
  <div class="col-sm-6"></div>
</div>

<div class="row">
  <% @user.each do |user| %>
    <%= link_to public_user_path(@user) do %>
      <div class="col-sm-3">
        <%= image_tag user.profile_image.get_profile_image(100,100) %>
      </div>
      <div class="col-sm-3">
        <%= user.name %>
      </div>
    <% end %>
  <% end %>
  <div class="col-sm-6"></div>
</div>